.env

# Security Reports
bandit-*.json
gitleaks-report.json
misconfig-report.json
secretscanner-report.json
trufflehog_report.json
trivy-*.json
trivy-*.html
trivy-*.txt
zap-*.json
zap-*.html
zap-*.md

# Archives and large files
gitleaks.tar.gz
image.tar

# Scripts
ZAP_2_9_0_unix.sh
security-checker.sh